<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/fa87a959-8809-4bb1-87c4-37431e1a0ca3/resourceGroups/DuendeBFF/providers/Microsoft.Web/sites/IdentityServerRIBTest</ResourceId>
    <ResourceGroup>DuendeBFF</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://identityserverribtest.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>cd3b4286-96ed-4840-be39-0696d5e2529a</ProjectGuid>
    <PublishUrl>https://identityserverribtest.scm.azurewebsites.net/</PublishUrl>
    <UserName>$IdentityServerRIBTest</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>